<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<ul>
		{% for author in authors %}
			<li>{{ author.id}} - {{ author.first_name }} {{ author.last_name }}, {{ author.birth_date }} - {{ author.death_date }}</li>
		{% endfor %}
	</ul>
	<form method="POST" action="/authors">
		<h1>Add author:</h1>
		<p>First name:</p>
		<label for="first_name"></label>
		<input type="text" id="first_name" name="first_name"><br>
		<br>
		<p>Last name:</p>
		<label for="last_name"></label>
		<input type="text" id="last_name" name="last_name"><br>
		<br>
		<p>Birth date:</p>
		<label for="birth_date"></label>
		<input type="date" id="birth_date" name="birth_date" placeholder="YYYY-MM-DD"><br>
		<br>
		<p>Death date:</p>
		<label for="death_date"></label>
		<input type="date" id="death_date" name="death_date" placeholder="YYYY-MM-DD"><br>
		<br>
		<input type="submit" value="Add">
	</form>
</body>
</html>