<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>	
	<form method="POST" action="/book_author">
    		<h1>Book-Author:</h1>
    		<p>Book:</p>
    		<label for="book"></label>
    		<select id="book" name="book">
        		{% for book in books %}
           			<option value="{{ book.id }}">{{ book.title }}</option>
       			 {% endfor %}
    		</select><br>
    		<br>
    		<p>Author:</p>
    		<label for="author"></label>
    		<select id="author" name="author">
        		{% for author in authors %}
            			<option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
        		{% endfor %}
    		</select><br>
    		<br>
    		<input type="submit" value="Add">
	</form>
</body>
</html>